@charset "utf-8";

header{
	position:relative;
	margin:auto;
	text-align:center;
	padding:5px;	
}

nav, h3 {
	position:relative;
	margin:auto;
	width:100%;
	height:auto;
	background:black;
}

nav ul{
	position:relative;
	margin:auto;
	width:50%;
	text-align: center;
}

nav ul li{
	display:inline-block;
	width:24%;
	line-height: 50px;
	list-style: none;
}

nav ul li a {
	color:white;
	text-decoration: none;
}

section{
	position:relative;
	padding:20px;
}

h2, h3 {
	color:white;
}
.mas {
	background-image:url(../images/mas.png); 
	background-repeat:no-repeat;
}
.menos {
	background-image:url(../images/menos.png); 
	background-repeat:no-repeat;
}		